{% extends 'simple-view.html' %}

{% block body_block %}
<div class="container-fluid">
    {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <div class="panel panel-info">
        <div class="panel-heading">ยินดีต้อนรับสู่ระบบสารสนเทศกลาง</div>
        <div class="panel-body">
            ระบบในปัจจุบัน
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    บริการ
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
