{% extends 'simple-view.html' %}


{% block body_block %}
<div class="container-fluid">
  <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <h2>Central Information System</h2>
    <h3>ระบบสารสนเทศกลาง</h3>
    <p>คณะวิศวกรรมศาสตร์ศรีราชา มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา</p>
    <br />
    <div id="main-area"></div>
  </div>
</div>
{% endblock %}

{% block webix_items %}
    webix.ui({
      container:"main-area",
      view:"form", scroll:false,
      id:"form",
      autowidth:true,
      elements:[
        { view:"text", label:"บัญชีนนทรี", name:"username", id:"username", invalidMessage: "กรุณากรอกชื่อบัญชี"},
        { view:"text", type:"password", label:"รหัสผ่าน", name:"password", id:"password", invalidMessage: "กรุณากรอกรหัสผ่าน"},
        { margin:5, cols:[
          { view:"button", label:"เข้าสู่ระบบ" , type:"form", id:"submit", click:function(){
            var form = this.getParentView().getParentView();
            if (form.validate()){
              form.setValues({csrfmiddlewaretoken:"{{ csrf_token }}"}, true);
              webix.send("/login-ku/", form.getValues());
            }
          } },
          { view:"button", label:"เข้าสู่ระบบด้วย Google", id:"google_button", click:function(){
              document.location.href = "{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}";
            }
          }
        ]}
      ],
      rules:{
        "username":webix.rules.isNotEmpty,
        "password":webix.rules.isNotEmpty
      },
      elementsConfig:{
        labelPosition: "top",
      }
    });
{% endblock %}
