{% extends 'master-detail-view.html' %}
{% load staticfiles %}


{% block title %}Students{% endblock %}

{% block app_icon %}graduation-cap{% endblock %}
{% block app_name %}ข้อมูลนิสิต{% endblock %}
{% block app_url %}{% url 'students' %}{% endblock %}


{% block sidemenu %}
{ view:"list",
  id:"sidemenu_list",
  borderless:true,
  data:[
    {value:"ภาพรวม", icon:"dashboard", href:"{% url 'students' %}", id:"students-dashboard-button"},
    {value:"ตารางข้อมูล", icon:"table",id:"student-datatable"},
  ],
  on:{
    "onItemClick":function(id,e,trg){
      //webix.message(id);
      if(id=="students-dashboard-button"){
        show_dashboard();
      }else if(id=="student-datatable"){
        show_datatable();
      }
    }
  }
}
{% endblock %}

{% block body_webix %}
{
  id:"content-view",
  rows:[
    {template:"<span class='webix_icon fa-dashboard'></span> ภาพรวม",autoheight:true, id:"details-title"},
    { type:"wide",
      id:"details-view",
      rows:[ {height:5},
        {
          id:"student-content-view",
        },
        {height:5}
      ],
    }
  ]
}
{% endblock %}
{% block include_js %}
<script type="text/javascript" charset="utf-8">
///////////////////////////////////////////////
// SHOW STUDENT DASHBOARD
function show_dashboard(){
  $$("sidemenu_list").select("students-dashboard-button");
  $$("content-view").removeView("details-title");
  $$("content-view").removeView("details-view");
  $$("content-view").addView({template:"<span class='webix_icon fa-dashboard'></span> ภาพรวม",autoheight:true, id:"details-title"},0);
  $$("content-view").addView({ type:"wide",
    id:"details-view",
    rows:[ {height:5},
      {
        id:"student-content-view",
      },
      {height:5}
    ],
  },1);
  $$("details-view").removeView("student-content-view");
  $$("details-view").addView({ responsive:"details-view",
    id:"student-content-view",
    cols:[{width:10},{id:"gpa_sum",rows:[{ id:"gpa_sum_view", template:"GPA นิสิตปัจจุบัน"},{height:5},{ id:"f_count_view", template:"อันดับวิชา"}]},{width:10},
          {id:"gpa_diff", rows:[{id:"unit_progress_view", template:"ความคืบหน้าผลการเรียน"},{height:5},{ id:"gpa_diff_view", template:"การเปลี่ยนแปลง GPA"}]},{width:10},
        ]
  }, 1);
  webix.extend($$("gpa_sum_view"), webix.ProgressBar);
  $$("gpa_sum_view").disable();
  $$("gpa_sum_view").showProgress({type:"icon"});
  webix.extend($$("gpa_diff_view"), webix.ProgressBar);
  $$("gpa_diff_view").disable();
  $$("gpa_diff_view").showProgress({type:"icon"});
  webix.extend($$("f_count_view"), webix.ProgressBar);
  $$("f_count_view").disable();
  $$("f_count_view").showProgress({type:"icon"});
  webix.extend($$("unit_progress_view"), webix.ProgressBar);
  $$("unit_progress_view").disable();
  $$("unit_progress_view").showProgress({type:"icon"});
  $.ajax({
    type: 'GET',
    url: "{% url 'students_f_count_last_semester' %}",
    data: {},
    dataType: 'json',
    error: function(xhr, textStatus, errorThrown){
       alert('request failed');
    },
    success: function(data){
      $$("gpa_sum").removeView("f_count_view");
      $$("gpa_sum").addView({
         view:"carousel",
         id:"carousel1",
         navigation:{
				       type: "side"
			   },
         cols:[{
            cols:[{
                    rows:[{ template:"อันดับวิชาตามจำนวน F ทั้งหมด", autoheight:true},

                          {
                            view:"chart",
                            type:"bar",
                            value:"#count#",
                            label:"#count#",
                            tooltip:{ template:"#course_id# #course_name#"},
                            //gradient:"falling",
                            yAxis:{
                              start:0,
                              step:10,
                              end:data['max']
                            },
                            data:data['f_all']
                          }
                        ]
                  },
                  {
                    rows:[{ template:"อันดับวิชาตามจำนวน W ทั้งหมด", autoheight:true},

                          {
                            view:"chart",
                            type:"bar",
                            value:"#count#",
                            label:"#count#",
                            tooltip:{ template:"#course_id# #course_name#"},
                            //gradient:"falling",
                            yAxis:{
                              start:0,
                              step:10,
                              end:data['max']
                            },
                            data:data['w_all']
                          }
                        ]
                  }]
                },
                {
               cols:[{
                       rows:[{ template:"อันดับวิชาตามจำนวน F ภาคเรียนล่าสุด", autoheight:true},

                             {
                               view:"chart",
                               type:"bar",
                               value:"#count#",
                               label:"#count#",
                               tooltip:{ template:"#course_id# #course_name#"},
                               //gradient:"falling",
                               yAxis:{
                                 start:0,
                                 step:10,
                                 end:data['max']
                               },
                               data:data['f_last']
                             }
                           ]
                     },
                     {
                       rows:[{ template:"อันดับวิชาตามจำนวน W ภาคเรียนล่าสุด", autoheight:true},

                             {
                               view:"chart",
                               type:"bar",
                               value:"#count#",
                               label:"#count#",
                               tooltip:{ template:"#course_id# #course_name#"},
                               //gradient:"falling",
                               yAxis:{
                                 start:0,
                                 step:10,
                                 end:data['max']
                               },
                               data:data['w_last']
                             }
                           ]
                     }]
                   }
              ]

      },3);
      function rotateC(){
        setTimeout(function(){
          if($$("carousel1").getActiveIndex()==1){
            $$("carousel1").setActiveIndex(0);
          }else{
            $$("carousel1").showNext();
          }
          rotateC();
        },10000);
      }
      rotateC();
    }
  });


  $.ajax({
    type: 'GET',
    url: "{% url 'students_gpa' %}",
    data: {},
    dataType: 'json',
    error: function(xhr, textStatus, errorThrown){
       alert('request failed');
    },
    success: function(data){
      $$("gpa_sum").removeView("gpa_sum_view");
      $$("gpa_sum").addView({ template:"GPA นิสิตปัจจุบัน "+ data['sum']+" คน", autoheight:true},0);
      $$("gpa_sum").addView(
          {
            view:"chart",
            type:"donut",
            //height:200,
            //width:500,
            value:"#number#",
            label:"#number#",
            color:"#color#",
            tooltip: {
              template: "#number#"
            },
            legend: {
              layout: "y",
              width: 100,
              align: "right",
              valign: "middle",
              template: "#grade#"
            },
            pieInnerText: function(e) {
              return e.result ? "<span class='h1'>" + e.sum + "</span>" : ""
            },
            data:[
              { grade:"พักการเรียน", number:data['leave'], color:"#222222"},
              { grade:"0.00-1.50", number:data['0'], color:"#ee4339"},
              { grade:"1.50-1.75", number:data['1'], color:"#ee9336"},
              { grade:"1.75-2.00", number:data['2'], color:"#eed236"},
              { grade:"2.00-3.25", number:data['3'], color:"#a7ee70"},
              { grade:"3.25-3.50", number:data['4'], color:"#58dccd"},
              { grade:"3.50-4.00", number:data['5'], color:"#476cee"},
            ]
          },1);

    }
  });

  $.ajax({
    type: 'GET',
    url: "{% url 'students_gpa_diff' %}",
    data: {},
    dataType: 'json',
    error: function(xhr, textStatus, errorThrown){
       alert('request failed');
    },
    success: function(jsondata){
      $$("gpa_diff").addView({ template:"การเปลี่ยนแปลง GPA", autoheight:true},2);
      $$("gpa_diff").addView(
        {
            view:"chart",
            type:"scatter",
            height:250,
            //width:500,
            preset:"round",
            on:{
                'onItemClick': function(id){
                    id = this.getItem(id).student_id;
                    alert("Show Detail of " + id);
                },
            },
            yAxis:{
                title:"GPA สะสมปัจจุบัน",
                start:0,
                end:4,
                step:0.5
            },
            xAxis:{
                title:"GPA สะสมภาคเรียนก่อนหน้า",
                start:0,
                end:4,
                step:0.5
            },
            data: jsondata.concat([{x:0, y:0},{x:4,y:4}]),
            series:[
              {
                value:"#gpa_new#",
                xValue: "#gpa_old#",
                tooltip:{
                 template:'#student_id# <img src="https://reg.src.ku.ac.th/picnisit/#student_id#.jpg" width="50">' //tooltip
                },
                item:{
                  color:"#color#",
                },
              }
            ]
        },3);
        $$("gpa_diff").removeView("gpa_diff_view");
    }
  });

  $.ajax({
    type: 'GET',
    url: "{% url 'students_unit_progress' %}",
    data: {},
    dataType: 'json',
    error: function(xhr, textStatus, errorThrown){
       alert('request failed');
    },
    success: function(jsondata){
      var views = [];
      var year;
      for(year in jsondata){
        views.push({
          rows:[
            { template:"ความคืบหน้าผลการเรียน นิสิตรหัส " + year, autoheight:true},
            {
                id:"progressView",
                view:"chart",
                type:"scatter",
                color:"#color#",
                preset:"round",
                on:{
                    'onItemClick': function(id){
                        id = this.getItem(id).student_id;
                        alert("Show Detail of " + id);
                    },
                },
                yAxis:{
                    title:"หน่วยกิตสะสม",
                },
                xAxis:{
                    title:"GPA สะสม",
                    start:0,
                    end:4,
                    step:0.5
                },
                data: jsondata[year],
                series:[
                  {
                    value:"#unit_passed#",
                    xValue: "#gpa#",
                    tooltip:{
                     template:'#student_id# <img src="https://reg.src.ku.ac.th/picnisit/#student_id#.jpg" width="50">' //tooltip
                    },
                    item:{
                      color:"#color#",
                    },
                  }
                ]
            }
          ]
        });
      }
      $$("gpa_diff").removeView("unit_progress_view");
      $$("gpa_diff").addView({
         view:"carousel",
         id:"carousel2",
         navigation:{
				       type: "side"
			   },
         cols:views
      },0);

      // $$("gpa_diff").addView({ template:"ความคืบหน้าผลการเรียน", autoheight:true},0);
      // $$("gpa_diff").addView(
      //   {
      //       id:"progressView",
      //       view:"chart",
      //       type:"scatter",
      //       color:"#color#",
      //       preset:"round",
      //       on:{
      //           'onItemClick': function(id){
      //               id = this.getItem(id).student_id;
      //               alert("Show Detail of " + id);
      //           },
      //       },
      //       yAxis:{
      //           title:"หน่วยกิตสะสม",
      //       },
      //       xAxis:{
      //           title:"GPA สะสม",
      //           start:0,
      //           end:4,
      //           step:0.5
      //       },
      //       data: jsondata[2558],
      //       series:[
      //         {
      //           value:"#unit_passed#",
      //           xValue: "#gpa#",
      //           tooltip:{
      //            template:'#student_id# <img src="https://reg.src.ku.ac.th/picnisit/#student_id#.jpg" width="50">' //tooltip
      //           },
      //           item:{
      //             color:"#color#",
      //           },
      //         }
      //       ]
      //   },1);
        //$$("progressView").attachEvent("onItemClick",function(id){
        //    alert("#student_id#");
        //});

    }
  });
}
// END STUDENT DASHBOARD
///////////////////////////////////////////////


///////////////////////////////////////////////
// SHOW STUDENT DATATABLE
function show_datatable(){
  $$("sidemenu_list").select("student-datatable");
  $$("content-view").removeView("details-title");
  $$("content-view").removeView("details-view");
  $$("content-view").addView({template:"<span class='webix_icon fa-table'></span> ตารางข้อมูลนิสิต",autoheight:true, id:"details-title"},0);

  $.ajax({
    type: 'GET',
    url: "{% url 'students_datatable' %}",
    data: {},
    dataType: 'json',
    error: function(xhr, textStatus, errorThrown){
       alert('request failed');
    },
    success: function(jsondata){
      $$("content-view").addView({
        id:"details-view",
        view:"datatable",
    		columns:[
          {header:"ภาพ", width:75, template:'<img src="https://reg.src.ku.ac.th/picnisit/#id#.jpg" width="50">'},
    			{ id:"id",	header:"รหัสนิสิต", css:"rank",  		width:100,	sort:"int"},
    			{ id:"first_name",	header:"ชื่อ",fillspace:true,	sort:"string"},
    			{ id:"last_name",	header:"นามสกุล" , fillspace:true,	sort:"string"},
          { id:"gender", header:"เพศ", width:100, sort:"string"},
    			{ id:"gpa",	header:"GPA สะสม", 		width:100,	sort:"int", format:webix.Number.numToStr({decimalDelimiter:".",decimalSize:2})},
          { id:"unit_passed", header:"หน่วยกิต", width:100, sort:"int"},
          { id:"birth_province", header:"ภูมิลำเนา", width:150, sort:"string"},
    		],
        fixedRowHeight:false, rowHeight:50,
        on:{
            'onItemClick': function(id){
                id = this.getItem(id).id;
                alert("Show Detail of " + id);
            },
        },
        data:jsondata
      },1);
    }
  });
}
// END STUDENT DATATABLE
///////////////////////////////////////////////

$$("sidemenu_list").select("students-dashboard");
show_dashboard();
</script>
{% endblock %}
