
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>อีเมล</dt>
            <dd>
                {% if user_details.email %}
                    {{ user_details.email }}
                {% else %}
                    -
                {% endif %}
            </dd>
            <dt>ชื่อ(ไทย)</dt>
            <dd>
                {% if user_details.first_name_th %}
                    {{ user_details.first_name_th }}
                {% else %}
                    -
                {% endif %}
            </dd>
            <dt>นามสกุล(ไทย)</dt>
            <dd>
                {% if user_details.last_name_th %}
                    {{ user_details.last_name_th }}
                {% else %}
                    -
                {% endif %}
            </dd>
            <dt>หมายเลขภายใน</dt>
            <dd>
                {% if user_details.internal_number %}
                    {{ user_details.internal_number }}
                {% else %}
                    -
                {% endif %}
            </dd>
            <dt>โทรศัพท์มือถือ</dt>
            <dd>
                {% if user_details.mobile_phone_number %}
                    {{ user_details.mobile_phone_number }}
                {% else %}
                    -
                {% endif %}
            </dd>
        </dl>
    </div>
