
    <div class="panel-body">
        <form id="general_profile_form" method="post" action="#" class="form-horizontal">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    <label for="{{ field.help_text }}" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {% for error in field.errors %}
                          <div class="text-danger">{{ error }}</div>
                        {% endfor %}
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="edit_general_profile_button" class="webixtype_form">บันทึก</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    console.log("OKOK");
    $('#edit_general_profile_button').click(function(){
        console.log("Hello" + data);
        $.post( "/setting/edit_general_profile/", $( "#general_profile_form" ).serialize(),function(data){
            console.log("Hello" + data);
            $$("body").addView({template:data, autoheight:true}, 2);
        });
    });
</script>
