{% extends 'simple-view.html' %}
{% load staticfiles %}


{% block title %}Setting{% endblock %}

{% block app_icon %}gear{% endblock %}
{% block app_name %}ตั้งค่า{% endblock %}
{% block app_url %}{% url 'setting' %}{% endblock %}

{% block sidemenu %}
{
      view:"list",
      borderless:true,
      scroll: false,

      template: "<span class='webix_icon fa-#icon#'></span> #value#",
      data:[
        {id: 1, value: "Customers", icon: "user"},
        {id: 2, value: "Products", icon: "cube"},
        {id: 3, value: "Reports", icon: "line-chart"},
        {id: 4, value: "Archives", icon: "database"},
        {id: 5, value: "Settings", icon: "cog"}
      ],
      select:true,
      type:{
        height: 40
      }
}
{% endblock %}

{% block body_webix %}
{ type:"wide",
  cols:[
    { width:30 },
    {
      id:"body",
      scroll:"y",
      rows: [{ height:30},
        {
          view: "toolbar",
          id:"profile-panel-toolbar",
          paddingX: 5,
          paddingY: 5,
          height: 40,
          cols: [
            {
              view:"label",
              template: "<span class='webix_icon fa-user'></span>{{ user_details.first_name }} {{ user_details.last_name }}",
            }, {
              view: "button",
              type:"icon",
              icon:"edit",
              id:"edit-profile-button",
              label: "แก้ไข",
              autowidth:true,
              click:function(){
                $$("profile-view").define("editable", true);
                $$("profile-view").edit("email");
                $$("body").addView({view:"form", id:"profile-form", autoheight:true,
                                  elements:[{
                                    cols:[{},
                                      { view:"button", icon:"cancel", label:"ยกเลิก",autowidth:true,
                                        click:function(){
                                          $$("body").removeView("profile-view");
                                          $$("body").removeView("profile-form");
                                          $$("edit-profile-button").show();
                                          $.ajax({
                                            type: 'GET',
                                            url: '/setting/general_profile/',
                                            data: { get_param: 'value' },
                                            dataType: 'json',
                                            error: function(xhr, textStatus, errorThrown){
                                               alert('request failed');
                                            },
                                            success: function(data){
                                              var items = [];
                                              items.push({label:"อีเมล", type:"text", id:"email", value: data['email']});
                                              items.push({label:"ชื่อจริง(ไทย)", type:"text", id:"first_name_th", value: data['first_name_th']});
                                              items.push({label:"นามสกุล(ไทย)", type:"text", id:"last_name_th", value: data['last_name_th']});
                                              items.push({label:"หมายเลขภายใน", type:"text", id:"internal_number", value: data['internal_number']});
                                              items.push({label:"โทรศัพท์มือถือ", type:"text", id:"mobile_phone_number", value: data['mobile_phone_number']});
                                              var profileView = {
                                                view:"property",
                                                id:"profile-view",
                                                editable:false,
                                                nameWidth: 150,
                                                autoheight:true,
                                                elements:items
                                              };
                                              $$("body").addView(profileView, 2);
                                            }
                                          });
                                        }
                                      },
                                      {view:"button", type:"form", icon:"save", label:"บันทึก",autowidth:true,
                                      click:function(){
                                        var email_text = $("div[webix_f_id='email'] .webix_property_value").text();
                                        var first_name_text = $("div[webix_f_id='first_name_th'] .webix_property_value").text();
                                        var last_name_text = $("div[webix_f_id='last_name_th'] .webix_property_value").text();
                                        if(email_text.indexOf('@') < 0){
                                          $$("profile-view").edit("email");
                                          $("input[type='text']").css('border-color','red');
                                          webix.message({type:"error", text:"กรุณากรอกอีเมลให้ถูกต้อง"});
                                        }else if(first_name_text.length == 0){
                                          $$("profile-view").edit("first_name_th");
                                          $("input[type='text']").css('border-color','red');
                                          webix.message({type:"error", text:"กรุณากรอกชื่อให้ถูกต้อง"});
                                        }else if(last_name_text.length == 0){
                                          $$("profile-view").edit("last_name_th");
                                          $("input[type='text']").css('border-color','red');
                                          webix.message({type:"error", text:"กรุณากรอกนามสกุลให้ถูกต้อง"});
                                        }else{
                                        $.ajax({
                                          type: 'POST',
                                          url: '/setting/general_profile/',
                                          data: { email: $("div[webix_f_id='email'] .webix_property_value").text(),
                                                  first_name_th: $("div[webix_f_id='first_name_th'] .webix_property_value").text(),
                                                  last_name_th:$("div[webix_f_id='last_name_th'] .webix_property_value").text(),
                                                  internal_number:$("div[webix_f_id='internal_number'] .webix_property_value").text(),
                                                  mobile_phone_number:$("div[webix_f_id='mobile_phone_number'] .webix_property_value").text(),
                                                  csrfmiddlewaretoken:"{{ csrf_token }}" },
                                          dataType: 'json',
                                          error: function(xhr, textStatus, errorThrown){
                                             alert('request failed');
                                          },
                                          success: function(data){
                                            var items = [];
                                            items.push({label:"อีเมล", type:"text", id:"email", value: data['email']});
                                            items.push({label:"ชื่อจริง(ไทย)", type:"text", id:"first_name_th", value: data['first_name_th']});
                                            items.push({label:"นามสกุล(ไทย)", type:"text", id:"last_name_th", value: data['last_name_th']});
                                            items.push({label:"หมายเลขภายใน", type:"text", id:"internal_number", value: data['internal_number']});
                                            items.push({label:"โทรศัพท์มือถือ", type:"text", id:"mobile_phone_number", value: data['mobile_phone_number']});
                                            var profileView = {
                                              view:"property",
                                              id:"profile-view",
                                              editable:false,
                                              nameWidth: 150,
                                              autoheight:true,
                                              elements:items
                                            };
                                            $$("body").removeView("profile-view");
                                            $$("body").removeView("profile-form");
                                            $$("edit-profile-button").show();
                                            $$("body").addView(profileView, 2);
                                          }
                                        });
                                        }
                                      }
                                      },
                                    ]
                                  }]
                },3);
                $$("edit-profile-button").hide();
              }
            }
          ]
        },
        {}
      ]
    },
    { width:30 },
  ],

},
{% endblock %}

{% block include_js %}
    <script src="{% static "js/profile.js" %}"></script>
{% endblock %}
