<!DOCTYPE HTML>

{% load staticfiles %}
{% load home_extra %}

<html>
    <head>
    <link rel="stylesheet" href="{% static 'css/webix.css' %}" type="text/css">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{% static 'js/webix.js' %}" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    {% block include_css %}
    {% endblock %}
    <title>CIS - {% block title %}Home{% endblock %}</title>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
        webix.ui({
          rows:[
              { view:"toolbar",
                id:"toolbar",
                elements:[
                  {% block side_menu_button %}
                  {% endblock %}
                  { view:"button",
                    id:"cis-button",
                    type:"icon",
                    icon:"{% block app_icon %}dot-circle-o{% endblock %}",
                    label:"{% block app_name %}CIS{% endblock %}",
                    autowidth:true,
                    click: function()
                          {
                            document.location.href = {% block app_url %}'/'{% endblock %};
                          }
                  },{},
                  {% if user_details %}
                  {
                    view:"button",
                    id:"home-button",
                    type:"icon",
                    icon:"home",
                    label:"{% if user_details.first_name_th %}{{ user_details.first_name_th }}{% else %}{{ user_details.first_name }}{% endif %}",
                    autowidth:true,
                    click: function()
                          {
                            document.location.href = '/';
                          }
                  },
                  {
                    view:"button",
                    id:"menu-button",
                    type:"icon",
                    icon:"th-large",
                    label:"เมนู",
                    autowidth:true,
                    popup:"apps_popup"
                  },
                  {
                    view:"button",
                    id:"account-button",
                    type:"icon",
                    icon:"user",
                    label:"บัญชี",
                    autowidth:true,
                    popup:"account_popup"
                  }
                  {% endif %}
                ]
              },
              { view:"scrollview",
                scroll:"y",
                body:{
                  rows:[
                    {% block body_webix %}
                    { template: `{% block body_block %}{% endblock %}`,
                      scroll:"y"
                    },
                    {% endblock %}
                  ]
                }
              }
          ]
        });
        {% if message %}
        webix.message({
          text:"{{ message }}",
          expire:10000
        });
        {% endif %}
        {% if error %}
          webix.message({
            type:"error",
            text:"{{ error }}",
            expire:10000
          });
        {% endif %}
        {% if user_details %}
          webix.ui({
            view:"contextmenu",
            id:"apps_popup",
            data:[
              {% get_app_list user_details %}
            ],
          });
          webix.ui({
            view:"contextmenu",
            id:"account_popup",
            data:[
                {icon:"gear",value:"ตั้งค่า", href:"{% url 'setting' %}", id:"setting-button"},
                { $template:"Separator" },
                {icon:"sign-out", value:"ออกจากระบบ", href:"{% url 'logout' %}", id:"logout-button"}
            ],
          });
        {% endif %}
        {% block webix_items %}
        {% endblock %}
        </script>
        {% block include_js %}
        {% endblock %}
    </body>
</html>
